<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#EC4899">
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.min.css') }}">

    <title>Create</title>
</head>
<body>
    <div class="container mx-auto">
        <!-- HEADER -->
        <div class="container m-3">
            <p><a href="/create_note" class="text-xl text-pink-500">Create Note</a></p>
            <p><a href="/create_link" class="text-xl text-pink-500">Create Link</a></p>
            <p><a href="/create_tag" class="text-xl text-pink-500">Create Tag</a></p>
        </div>
    </div>
</body>
</html>