<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#EC4899">
    <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.min.css') }}">

    <title>Create</title>
</head>
<body>
    <div class="container mx-auto">
        <!-- HEADER -->
        <div class="container m-3">
            <p class="inline-block"><a href="/" class="text-xl text-red-500">Notes</a></p>
        </div>

        <!-- DATA -->
        <div class="container m-3">
            <form action="/create_note" method="POST">
                <p class="my-1 mx-auto"><input class="w-full border text-grey-darkest" type="text" required="required" name="title" placeholder="Title"></p>
                <p class="my-1"><textarea class="w-full border text-grey-darkest" type="text" required="required" name="text" placeholder="Text"></textarea></p>
                <p class="my-1"><input class="text-white text-lg mx-auto p-1 rounded" type="submit" value="Create"></p>
            </form>
        </div>
    </div>
</body>
</html>